In [1]:
import pandas as pd
import numpy as np
import libs.DataCleaning as dc

In [2]:
df = pd.read_csv('data/show_no_show.csv')

# Cleaning

In [3]:
df.tail()

,Unnamed: 0,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
110522,110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,None,0,1,No
110523,110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,None,0,1,No
110524,110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,None,0,1,No
110525,110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,None,0,1,No
110526,110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,None,0,1,No

## String Dates to Date

In [4]:
dc.transform_dates_to_date_dtype(df,['ScheduledDay','AppointmentDay'])

In [5]:
df.dtypes

Unnamed: 0                      int64
PatientId                     float64
AppointmentID                   int64
Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Neighbourhood                  object
Scholarship                     int64
Hipertension                    int64
Diabetes                        int64
Alcoholism                     object
Handcap                         int64
SMS_received                    int64
No-show                        object
dtype: object

## Eliminate Unnecesary Columns

In [6]:
df.drop(columns=["Unnamed: 0","PatientId","Neighbourhood","AppointmentID"], inplace= True)

## Rename Columns

In [7]:
df.rename(columns={"Handcap": "Handicap"},inplace=True)

## NO SHOW TO NUMERIC

In [8]:
df['No-show'] = df['No-show'].map({'No':'0','Yes':'1'})
df['No-show'] = pd.to_numeric(df['No-show'],downcast = 'integer')

In [9]:
df.dtypes

Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Scholarship                     int64
Hipertension                    int64
Diabetes                        int64
Alcoholism                     object
Handicap                        int64
SMS_received                    int64
No-show                          int8
dtype: object

## Remove null gender values (dropna)

In [10]:
df.dropna(inplace=True)

## Convert Gender Columns to Integer

In [11]:
df = pd.get_dummies(df, columns = ["Gender"],drop_first=True)

In [12]:
df

,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,Gender_M
0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,0,1,0,None,0,0,0,0
1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,0,0,0,None,0,0,0,1
2,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,0,0,0,None,0,0,0,0
3,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,0,0,0,None,0,0,0,0
4,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,0,1,1,None,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
110522,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,0,0,0,None,0,1,0,0
110523,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,0,0,0,None,0,1,0,0
110524,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,0,0,0,None,0,1,0,0
110525,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,0,0,0,None,0,1,0,0
110526,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,0,0,0,None,0,1,0,0

## Alcoholism to Label

In [13]:
df.Alcoholism.value_counts()

None        106829
Low           1125
Moderate      1116
High          1112
Name: Alcoholism, dtype: int64

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
encoder = OrdinalEncoder(categories=[["None", "Low", "Moderate","High"]],dtype=np.int8)

In [16]:
df['Alcoholism'] = encoder.fit_transform(df['Alcoholism'].values.reshape(-1, 1))

In [17]:
df

,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,Gender_M
0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,0,1,0,0,0,0,0,0
1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,0,0,0,0,0,0,0,1
2,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,0,0,0,0,0,0,0,0
3,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,0,0,0,0,0,0,0,0
4,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
110522,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,0,0,0,0,0,1,0,0
110523,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,0,0,0,0,0,1,0,0
110524,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,0,0,0,0,0,1,0,0
110525,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,0,0,0,0,0,1,0,0
110526,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,0,0,0,0,0,1,0,0

## Deleting Age ranges < 0 and > 100

In [18]:
df = df[(df['Age'] > 0) & (df['Age'] < 100)]

## Dates to integer

In [19]:
dc.transform_date(df,'AppointmentDay','ScheduledDay')

C:\Users\Alex\Ironhack\Projects\project-ml-show-noshow\libs\DataCleaning.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AppointmentDay_DOW']=df[col].dt.day_name()
C:\Users\Alex\Ironhack\Projects\project-ml-show-noshow\libs\DataCleaning.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AppointmentDay_Day_number'] = df[col].dt.day
C:\Users\Alex\Ironhack\Projects\project-ml-show-noshow\libs\DataCleaning.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AppointmentDay_month'] = df[col].dt.month_name()
C:\Users\Alex\Ironhack\Projects\project-ml-show-noshow\libs\DataCleaning.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Difference_Days_App_Date_and_Sched_Day'] = ((df[col] - df[col2]).dt.days).clip(0,inplace=False)

In [20]:
df

,ScheduledDay,AppointmentDay,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,Gender_M,AppointmentDay_DOW,AppointmentDay_Day_number,AppointmentDay_month,Difference_Days_App_Date_and_Sched_Day
0,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,0,1,0,0,0,0,0,0,Friday,29,April,0
1,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,0,0,0,0,0,0,0,1,Friday,29,April,0
2,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,0,0,0,0,0,0,0,0,Friday,29,April,0
3,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,0,0,0,0,0,0,0,0,Friday,29,April,0
4,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,0,1,1,0,0,0,0,0,Friday,29,April,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,0,0,0,0,0,1,0,0,Tuesday,7,June,34
110523,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,0,0,0,0,0,1,0,0,Tuesday,7,June,34
110524,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,0,0,0,0,0,1,0,0,Tuesday,7,June,40
110525,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,0,0,0,0,0,1,0,0,Tuesday,7,June,40
110526,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,0,0,0,0,0,1,0,0,Tuesday,7,June,40

## Encode DOW and Month

In [21]:
dc.label_encoder(df,'AppointmentDay_DOW')

C:\Users\Alex\Ironhack\Projects\project-ml-show-noshow\libs\DataCleaning.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = transformed

In [22]:
dc.label_encoder(df,'AppointmentDay_month')

## Remove Datetime Columns

In [23]:
df.drop(["ScheduledDay","AppointmentDay"],axis=1,inplace=True)

C:\Users\Alex\Anaconda3\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,



## Export CSV

In [24]:
df

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,Gender_M,AppointmentDay_DOW,AppointmentDay_Day_number,AppointmentDay_month,Difference_Days_App_Date_and_Sched_Day
0,62,0,1,0,0,0,0,0,0,0,29,0,0
1,56,0,0,0,0,0,0,0,1,0,29,0,0
2,62,0,0,0,0,0,0,0,0,0,29,0,0
3,8,0,0,0,0,0,0,0,0,0,29,0,0
4,56,0,1,1,0,0,0,0,0,0,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,56,0,0,0,0,0,1,0,0,4,7,1,34
110523,51,0,0,0,0,0,1,0,0,4,7,1,34
110524,21,0,0,0,0,0,1,0,0,4,7,1,40
110525,38,0,0,0,0,0,1,0,0,4,7,1,40
110526,54,0,0,0,0,0,1,0,0,4,7,1,40

In [25]:
df.to_csv('data/show_no_show_ready_to_model.csv',index=False)