In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
plt.rcParams["figure.figsize"] = (10, 6)

In [5]:
data = pd.read_csv('data/show_no_show_ready_to_model.csv')

In [6]:
data.head()

,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,Gender_M,AppointmentDay_DOW,AppointmentDay_Day_number,AppointmentDay_month,Difference_Days_App_Date_and_Sched_Day
0,62,0,1,0,0,0,0,0,0,0,29,0,0
1,56,0,0,0,0,0,0,0,1,0,29,0,0
2,62,0,0,0,0,0,0,0,0,0,29,0,0
3,8,0,0,0,0,0,0,0,0,0,29,0,0
4,56,0,1,1,0,0,0,0,0,0,29,0,0

In [7]:
from sklearn.impute import SimpleImputer, KNNImputer

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [21]:
from sklearn.model_selection import train_test_split

In [14]:
df_numerico = data[['Age','Scholarship',
             'Hipertension','Alcoholism',
             'Diabetes',
             'Handicap',
             'No-show',
             'Gender_M',"SMS_received"]]

In [12]:
knn = KNeighborsClassifier(n_neighbors=3)

In [16]:
X=df_numerico.drop("No-show", axis=1)

In [18]:
y= df_numerico["No-show"]

In [22]:
X_train , X_test , y_train, y_test= train_test_split(X,y, test_size= 0.20)

In [23]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [24]:
y_pred = knn.predict(X_test)

In [26]:
from sklearn.metrics import classification_report, confusion_matrix

In [27]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[15324  1783]
 [ 3604   587]]
              precision    recall  f1-score   support

           0       0.81      0.90      0.85     17107
           1       0.25      0.14      0.18      4191

    accuracy                           0.75     21298
   macro avg       0.53      0.52      0.51     21298
weighted avg       0.70      0.75      0.72     21298